<clr-modal #modal [clrModalClosable]="false" [(clrModalOpen)]="opened">
  <h3 class="modal-title">Add Students</h3>
  <div class="modal-body" *ngIf="opened">
    <form class="form" [formGroup]="formGroup" (ngSubmit)="submit()">
      <section class="form-block">
        <div class="form-group">
          <label>Students</label>
          <div class="select">
            <select formControlName="students" multiple>
              <option *ngFor="let student of students" [value]="student">{{student | baDisplayName}}</option>
            </select>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline cancel-btn" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-primary ok-btn" (click)="submit()" [disabled]="!formGroup.valid">Ok</button>
  </div>
</clr-modal>