<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="piggy-bank" class="is-solid is-inverse"></clr-icon>
        <span class="title">Balancing Act</span>
      </a>
    </div>
    <div class="header-actions">
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
      <a clrVerticalNavLink routerLink="./program" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="users" title="Program"></clr-icon>
        Program
      </a>
      <a clrVerticalNavLink routerLink="./users" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user" title="Users"></clr-icon>
        Users
      </a>
      <a clrVerticalNavLink routerLink="./banking/accounts" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="bank" title="Banking"></clr-icon>
        Banking
      </a>
      <a clrVerticalNavLink routerLink="./services/companies" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="lightbulb" title="Services"></clr-icon>
        Services
      </a>
      <a clrVerticalNavLink routerLink="./payroll/employers" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="dollar-bill" title="Payroll"></clr-icon>
        Payroll
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>